.component-log-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 0;
}

.grid-stack-item-content > .component-log-panel {
  position: absolute;
  inset: 0;
}

.component-log-panel .log-panel-component-root {
  flex: 1 1 auto;
  min-height: 0;
  display: flex;
  width: 100%;
}

.component-log-panel .ff-log-panel {
  width: 100%;
}
